.user{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: full;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 10px;
    padding-bottom: 20px;
}
.show{
    background-color: rgb(11, 249, 11);
    color:rgb(48, 48, 241);
}